.button {
    display: inline-block;

    min-width: 210px;
    padding: 8px;

    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    text-decoration: none;
    text-align: center;

    border-radius: 4px;

    background-color: $color-primary;
    color: rgb(255,255,255);

    cursor: pointer;

    @include for-size(mobile) {
        display: block;
        width: 210px;
        margin: 0 auto;
    }

    &:hover {
        background-color: $color-button-hover;
    }

    &:disabled {
         background: #ccc;
    }

}

.burgerBtn{
    border: none;

    width: 20px;
    height: 15px;
    background-image: url('~assets/menu-icon.svg');
    background-repeat: no-repeat;

    cursor: pointer;

    &:focus {
      outline: none;
    }
}

