.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    color: $color-text;
    
    &:hover{
        color: $color-primary;
    }

    &:active{
        color: $color-secondary;
    }

    &:first-of-type {
        margin-left: 20px;
    }
}