.form {

    //DELETE
    .col-md-6 {
      border: 1px solid;
    }

    padding-top: 160px;
    padding-bottom: 160px;


    &__title {
        @extend %title;
        margin-bottom: 30px;

    }

    &__subtitle {
        @extend %p-text;

        text-align: center;

        padding-bottom: 10px;
    }

    .label {
        display: block;
    }

    &__name,
    &__email,
    &__phone {
      @extend %input;
    }

    &__submit {
      border:0;

      display: block;
      margin: 0 auto;
    }
}
