.form {

    //DELETE
    .col-md-6 {
      border: 1px solid;
    }

    padding-top: 160px;
    padding-bottom: 160px;


    &__title {
        @extend %title;
        margin-bottom: 30px;

    }

    &__subtitle {
        @extend %p-text;

        text-align: center;

        padding-bottom: 10px;
    }

    &__field {
      margin-bottom: 10px;
    }

    &__name,
    &__email,
    &__phone {
      margin-top: 10px;
      margin-bottom: 10px;

      @extend %input-enabled;
      &--error {
        @extend %input-error;
      }
    }

    &__feedback {
      font-size: 12px;
        &.error {
          color: $color-form-error;
      }
    }
    

    &__radioTitle {
      margin-top: 5px;
      margin-bottom: 25px
    }

    &__radioWrapper {
      margin-bottom: 15px;
    }

    &__radio {
      position: relative;
      z-index: -111;
      opacity:0;
    }

    &__radio:checked + &__radioLabel::after {
      opacity: 1;
    }

    &__radio:focus + &__radioLabel,
    &__radio:active + &__radioLabel
     {

      @extend %input-border-active;
      @extend %input-shadow-active;
    }

    &__radioLabel {
      position: relative;
      left: 10px;

      border: 1px solid rgba(0,0,0,0);
      box-shadow: 0px 0px 0px 2px rgba(0,0,0,0);

      border-radius: 4px;

      cursor: pointer;

      padding: 5px;

      &::before,
      &::after {
        content:"";
        display: block;
        position: absolute;

        border-radius: 50%;

        top: 8px;
        left: -23px;

        width: 16px;
        height: 16px;
      }

      &::before {
        z-index: 1;

        border: 1px solid $color-form-placeholder;
      }

      &::after {
        z-index: 2;

        background-color: $color-bg;
        border: 5px solid $color-secondary;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .3);

        opacity: 0;
      }

    }

    &__uploadTitle {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &__uploadWrapper {
      margin-bottom: 35px;
    }

    &__labelUpload {
      @extend %upload-label-common;
      @extend %input-enabled;
      &--error {
        @extend %upload-label-common;
        @extend %input-error;
        .form__uploadButtonWrapper {
          @extend %upload-button-left-border-error;
        }
      }

      &:active,
      &:focus {
        .form__uploadButtonWrapper {
          @extend %upload-button-left-border-active;
        }
      }

    }

    &__upload {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__labelUpload:focus-within {
      @extend %input-border-active;
      @extend %input-shadow-active;
      .form__uploadButtonWrapper {
        @extend %upload-button-left-border-active;
      }
    }


    &__uploadPlaceholder {
      color: $color-form-placeholder;
    }

    &__uploadButtonWrapper {
      border-left: 1px solid $color-form-placeholder;

      position: absolute;
      top: 0px;
      right:0;

      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:active,
      &:focus {
        @extend %upload-button-left-border-active;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }



    &__submit {
      border:0;

      display: block;
      margin: 0 auto;
    }
}
