.users {

  background-color: $color-bg2;

	padding-top: 160px;
	padding-bottom: 160px;

	&__title {
		@extend %title;
		margin-bottom: 30px;
	}

  &__subtitle {
    @extend %p-text;

    text-align: center;

    padding-bottom: 70px;
  }

  &__photo {
    display:block;
    border-radius: 50%;

    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

  }

  &__info {
    text-align: center;

    color:$color-p;
  }

  &__name {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-h2;

    color: $color-text;

    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
   
    text-overflow: ellipsis;
    overflow: hidden;

  }

  &__position {
    max-width: 185px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
  }

  &__email {

    max-width: 205px;

    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tooltip {
    padding: 7px 9px;
  }

}
