@import "../../scss/config/variables";
@import "../../scss/base/typography";
@import "../../scss/config/mixins";
@import "../../scss/base/placeholders";

// @import "../../scss/globals/index";
// @import "../../scss/objects/index";
// @import "../../scss/utilities/index";


.users {

  background-color: $color-bg2;

	padding-top: 150px;
  padding-bottom: 160px;

  @include for-size(tablet){
    padding-top: 69px;
  }

  @include for-size(mobile){
    padding-top: 49px;
    padding-bottom: 83px;
  }

  &__card {
    padding-bottom: 52px;

    @include for-size(tablet){
      padding-bottom: 60px;
    }

    @include for-size(mobile) {
      padding-bottom: 38px;
    }

    &:nth-last-of-type(-n+3) {
      padding-bottom: 27px;

      @include for-size(tablet){
        padding-bottom: 31px;
      }

      @include for-size(mobile){
        padding-bottom: 38px;
      }
    }

    @include for-size(mobile){
    &:last-of-type {
        padding-bottom: 30px;
      }
    }




  }

	&__title {
		@extend %title;
		margin-bottom: 18px;

      @include for-size(mobile){
      margin-bottom: rem(9);
    }
	}

  &__subtitle {
    @extend %p-text;

    text-align: center;

    padding-bottom: 76px;

    @include for-size(mobile) {
      padding-bottom: 36px;

    }
  }

  &__photo {
    display:block;
    border-radius: 50%;

    margin-top: 0;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;

  }

  &__info {
    text-align: center;

    color:$color-p;
  }

  &__name {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-h2;

    color: $color-text;

    max-width: 205px;
    margin-left: auto;
    margin-right: auto;

    text-overflow: ellipsis;
    overflow: hidden;

  }

  &__position {
    max-width: 185px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 12px
  }

  &__email {

    max-width: 205px;

    letter-spacing: -0.13px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tooltip {
    padding: 7px 9px;
  }

}
