%title {
	font-weight: $font-weight-h1-desktop;
	font-size: $font-size-h1-desktop;
	line-height: 1;
	color: $color-text;
  text-align: center;
  
  @include for-size(tablet) {
    font-weight: $font-weight-h1-tablet;
    font-size: $font-size-h1-tablet;
  }
}

%p-text {
  font-size: $font-size-p;
  font-weight: $font-weight-p;
  line-height: $line-height-p;
  letter-spacing: -0.13px;

  color:$color-p;
}

%input-border-active {
  border: 1px solid $color-form-active;
}

%input-shadow-active {
  box-shadow: 0px 0px 0px 2px rgba($color-form-active, .2);
}

%input-shadow-error {
  box-shadow: 0px 0px 0px 2px rgba($color-form-error, .2);
}


%upload-button-left-border-active {
  border-left: 1px solid $color-form-active;
  @extend %input-shadow-active;
}

%upload-button-left-border-error {
  border-left: 1px solid $color-form-error;;
  @extend %input-shadow-error;
}

%upload-label-common {
  display: block;
  position: relative;

  cursor: pointer;
}

%input-common {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;

  padding: 8px 12px;

  font-family: $font-family-form;
  font-weight: $font-weight-form;
  font-size: $font-size-p;
  

  border: 1px solid $color-form-placeholder;

  &::placeholder {
    color: $color-form-placeholder;
  }

  &:active,
  &:focus {
    outline: none;;

  }
}

%input-enabled{
  @extend %input-common;

  &:active,
  &:focus {

    @extend %input-border-active;
    @extend %input-shadow-active;

  }

}

%input-error {
  @extend %input-common;

  border: 1px solid $color-form-error;

  &:active,
  &:focus {
    @extend %input-shadow-error;
  }
}
