%title {
	font-weight: $font-weight-h1-desktop;
	font-size: $font-size-h1-desktop;
	line-height: 1;
	color: $color-text;
	text-align: center;
}

%p-text {
  font-size: $font-size-p;
  font-weight: $font-weight-p;
  line-height: $line-height-p;

  color:$color-p;
}

%input {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;

  padding: 6px 8px;

  font-size: $font-size-p;

  &.error {
    border: 1px solid red;
  }

  &::placeholder {

  }


}
