/* Typography */

/* H1 Desktop */
$font-family-h1-desktop: $font-family-primary;
$font-weight-h1-desktop: $font-weight-primary;
$font-size-h1-desktop: 50px;
$line-height-h1-desktop: 1.08; 

/* H1 Tablet */
$font-family-h1-tablet: $font-family-primary;
$font-weight-h1-tablet: $font-weight-primary;
$font-size-h1-tablet: 40px;
$line-height-h1-tablet: 1.1; 

/* H1 Mobile */
$font-family-h1-mobile: $font-family-primary;
$font-weight-h1-mobile: $font-weight-primary;
$font-size-h1-mobile: 30px;
$line-height-h1-mobile: 1.13; 

/* H2 */
$font-family-h2: $font-family-primary;
$font-weight-h2: $font-weight-primary;
$font-size-h2: 24px;
$line-height-h2: 1.22;

/* Paragraph */
$font-family-p: $font-family-primary;
$font-weight-p: $font-weight-primary;
$font-size-p:16px;
$line-height-p : 1.5;

/*Form*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
$font-family-form: 'PT Sans', sans-serif;
$font-weight-form: 400;