.overlay {

}

.burger {


  &__header {
    margin-top: 12px;
    padding-left: 15px;
    margin-bottom: 9px;
  }


  font-weight: $font-weight-p;
  font-size: $font-size-p;
  line-height: $line-height-p;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  max-height: 100vh;
  overflow: scroll;

  background-color: white;


  width: rem(291);
  height: auto;

  ul li {
    list-style: none;
    padding-bottom: 19px;
    padding-left: 15px;

    &:nth-of-type(5n){
      padding-bottom: 24px;
      border-bottom: 1px solid $hr-color;
    }

    &:nth-of-type(5n+1){
      padding-top: 24px;
    }
  }
}
