.overlay {
  //width: calc(100vw - 290px);
  width: 100vw;
  
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  //left: 290px;
  right: 0;
  bottom:0;
  z-index: 3;
  background-color: rgba(0,0,0, .5);

  transform: translateX(-100%);
  transition: transform .1s linear ;
  
  &.active {
    transform: translateX(0);
    
  }

}

.burger {
  transform: translateX(-100%);
  transition: transform .1s linear ;

  &.active {
    transform: translateX(0);
  }

  &__header {
    margin-top: 12px;
    padding-left: 15px;
    margin-bottom: 9px;
  }


  font-weight: $font-weight-p;
  font-size: $font-size-p;
  line-height: $line-height-p;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;

  max-height: 100vh;
  overflow-y: scroll;

  background-color: white;

  width: 290;
  height: auto;

  ul li {
    list-style: none;
    padding-bottom: 19px;
    padding-left: 15px;

    &:first-of-type {
      border-top: 1px solid $hr-color;
    }

    &:nth-of-type(5n){
      padding-bottom: 24px;
      border-bottom: 1px solid $hr-color;
    }

    &:nth-of-type(5n+1){
      padding-top: 24px;
    }
  }
}
