.overlay {

}

.burger {

  font-weight: $font-weight-p;
  font-size: $font-size-p;
  line-height: $line-height-p;

  position: fixed;
  top: 0;
  left: 0;

  background-color: white;

  z-index: 3;
  width: rem(291);
  height: 100vh;
}
