.about {
	padding-top: 160px;
	padding-bottom: 120px;

	&__title {
		@extend %title;
		margin-bottom: 60px;
	}

	&__logo {
		max-width: 340px;
		height: auto;

		display: block;
		margin: 0 auto;

	}

	&__text {
		padding-bottom: 40px;

		.about__heading {
			font-size: $font-size-h2;
			font-weight: $font-weight-h2;
			line-height: $line-height-h2;

			padding-bottom: 30px;

			color: $color-text;
		}

		p {
      @extend %p-text;

			text-align: justify;
			padding-bottom: 35px;


		}

		.about__link {
			color: $color-primary;
			font-weight: 600;

			text-decoration: none;
			&:hover {
				color: $color-button-hover;
			}

		}
	}

}

