.about {
	padding-top: 154px;
	padding-bottom: 120px;

	&__title {
		@extend %title;
		margin-bottom: 70px;
		letter-spacing: -1px;
	}

	&__logo {
		max-width: 340px;
		height: auto;

		display: block;
		margin-top: 3px;
		margin-left: 24px;

	}

	&__text {
		padding-bottom: 40px;

		.about__heading {
			font-size: $font-size-h2;
			font-weight: $font-weight-h2;
			line-height: $line-height-h2;
			letter-spacing: 0.17px;
			padding-bottom: 19px;

			color: $color-text;
		}

		p {
      @extend %p-text;

			text-align: justify;
			
			padding-bottom: 25px;


		}

		.about__link {
			margin-top: 5px;

			color: $color-primary;
			font-weight: 600;

			text-decoration: none;
			&:hover {
				color: $color-button-hover;
			}

		}
	}

}

