.about {
	padding-top: 160px;
}

.about__title {
	@extend %title;
	margin-bottom: 60px;
}

.about__content {
	display: flex;
	justify-content: space-between;
}

.about__logo {
	max-width: 340px;
	height: auto;
}