.header {
    height: 60px;
    background-color: $color-bg;

    position: sticky;
    top: 0px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

    &__burger {
        @include for-size(desktop){
            display: none;
        }
        @include for-size(tablet) {
            display: flex;
        }
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
}