.header {


    height: 60px;
    @include for-size(mobile) {
      height: 40px;
    }

    background-color: $color-bg;

    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

    &__burger {
        @include for-size(desktop){
            display: none;
        }
        @include for-size(tablet) {
            display: flex;
        }
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
}
