.footer {
    hr {
        color: rgb(236,236,236);
    }
   
    &__copyright {
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.col-md-4 {
    border: 1px solid black;
}