@import "../../scss/config/variables";
@import "../../scss/base/typography";
@import "../../scss/config/mixins";
@import "../../scss/base/placeholders";

.footer {


    &__copyright {
        height: 51px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include for-size(tablet){
            padding-left: 10px;
        }
        @include for-size(tablet){
            padding-left: 0;
        }
    }
}


