@import "../../../../scss/config/variables";
@import "../../../../scss/base/typography";
@import "../../../../scss/config/mixins";
@import "../../../../scss/base/placeholders";

.ReactModal {
  &__Content{
    max-width: 395px;
    min-height: 190px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    background: rgb(255, 255, 255);

    overflow-x:hidden;
    overflow-y:auto;
    outline: none;

    display: flex;
    flex-direction: column;

    transform: perspective(600px) rotateX(90deg) translate(0, -200%);
    opacity:0;
    transition: all .8s ease;

    margin: 10px;
  }

  &__Content--after-open {
    transform: perspective(600px) rotateX(0deg) translate(0, -128px);
    opacity:1;
  }

  &__Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    min-width: 100vw;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, .5);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .8s ease;
    opacity: 0;
  }

  &__Overlay--after-open {
    opacity:1;
  }

}


.modal {


  &__container {
    padding: 15px;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgb(236, 238, 241);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__close {
    max-width: none;
    border:0;
    outline: none;
    cursor: pointer;
    padding-left: 10px;

    background-color: #fff;
  }

  &__title {

    font-family: $font-family-primary;
    font-weight: 400;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    color: rgb(0, 0, 0);
    min-width: 340px;

    @include for-size(tablet) {
      min-width: 0;
    }

  }

  &__text {
    color: $color-p;
    line-height: $line-height-p;
    font-size: $font-size-p;
    font-family: $font-family-p;
    font-weight: $font-weight-p;
  }

  &__footer {
     text-align: right;
  }

  &__btn {
    min-width: 80px;
    height: 38px;

    padding: 5px 10px;

    font-size: $font-size-p;
    font-family: $font-family-primary;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: rgb(254, 254, 254);

    background-color: $color-primary;

    border:0;
    border-radius: 4px;

    cursor: pointer;


  }

}



