/* Font families */
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-primary: 400;

/* Colors */
$color-text: rgb(33,37,41);
$color-primary: rgb(239, 91, 76);
$color-secondary: rgb(0, 123, 255);
$color-bg: rgb(255,255,255);
$color-bg2: rgb(249, 249, 243);



//Change default maximum width of bootstrap grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 994px, //960
  xl: 1170px //1140
) !default;