/* Font families */
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-primary: 400;

/* Colors */

$color-primary: rgb(239, 91, 76);
$color-secondary: rgb(0, 123, 255);
$color-text: rgb(33,37,41);
$color-p: rgb(76, 75, 75);
$color-bg: rgb(255,255,255);
$color-bg2: rgb(249, 249, 243);

$color-form-placeholder: rgb(178, 185, 192);
$color-form-active: rgb(128, 189, 255);
$color-form-error: rgb(219, 52, 69);


$color-banner-text: rgb(255,255,255);

$color-button-hover : rgb(210, 67, 53);


// //Change default maximum width of bootstrap grid containers (fixed containers)
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 994px, //960
//   xl: 1170px //1140
// ) !default;
