/* Font families*/
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-primary: 400;

/*Typography*/

/*H1 Desktop*/
$font-family-h1-desktop: $font-family-primary;
$font-weight-h1-desktop: $font-weight-primary;
$font-size-h1-desktop: 50px;
$line-height-h1-desktop: 1.08; 

$font-size-p:16px;
$font-family-p: $font-family-primary;
$font-weight-p: $font-weight-primary;
$line-height-p : 


$font-size-h1-desktop: 