.banner {
    background-image:url('~assets/banner-photo.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 600px;

    &__title {
        font-weight: $font-weight-h1-desktop;
        font-size: $font-size-h1-desktop;
        line-height: $line-height-h1-desktop;
        text-transform: uppercase;

        color: $color-banner-text;
    
        max-width: 540px;
        margin-top: 116px;
        margin-bottom: 34px;
    }
    
    &__text {
        font-weight: $font-weight-p;
        font-size: $font-size-p;
        
        color: $color-banner-text;
    
        max-width: 540px;
        margin-bottom: 38px;
    }
    
}

