.banner {
    background-image:url('~assets/banner-photo.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 600px;
    max-width:100%;

    &__title {
        font-weight: $font-weight-h1-desktop;
        font-size: $font-size-h1-desktop;
        line-height: $line-height-h1-desktop;
        text-transform: uppercase;
        letter-spacing: -0.5px;

        color: $color-banner-text;

        max-width: 525px;
        margin-top: 107px;
        margin-bottom: 25px;

       

    }

    &__text {
        font-weight: $font-weight-p;
        font-size: $font-size-p;
        line-height: $line-height-p;
        letter-spacing: -0.08px;

        color: $color-banner-text;

        max-width: 538px;
        margin-bottom: 34px;
    }

}

