.banner {
    background-image:url('~assets/banner-photo.webp');
    background-repeat:no-repeat;
    max-width:100%;
    
    @include for-size(desktop) {
        background-size: cover;    
        min-height: 600px;
            //Retina
            @media  screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:url('~assets/banner-photo@2x.webp');
            }
    }
       
    @include for-size(tablet) {
        background-size: 1026px auto;
        min-height: 500px;
    }

    // @include for-size(tablet) {
    //     padding: rem(105) rem(24) rem(0) rem(24);
    //   }
    //   @include for-size(desktop) {
    //     padding: rem(126) rem(47) rem(5) rem(47);
    //   }
    //   @include for-size(desktop2k) {
    //     padding: rem(126) rem(15) rem(5) rem(15);
    //   }

    //   $desktop2k: 2560px;
    // $desktop: 1024px;
    // $tablet: 768px;



    &__title {
        font-weight: $font-weight-h1-desktop;
        font-size: $font-size-h1-desktop;
        line-height: $line-height-h1-desktop;
        text-transform: uppercase;
        letter-spacing: -0.5px;

        color: $color-banner-text;

        max-width: 525px;
        margin-top: 107px;
        margin-bottom: 25px;

       

    }

    &__text {
        font-weight: $font-weight-p;
        font-size: $font-size-p;
        line-height: $line-height-p;
        letter-spacing: -0.08px;

        color: $color-banner-text;

        max-width: 538px;
        margin-bottom: 34px;
    }

}

